@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Dancing+Script&family=Libre+Baskerville&family=Montserrat:wght@300&family=Poppins:wght@300;400;600&family=Roboto:wght@100&family=Ubuntu&display=swap');

.gradient-background {
  background: linear-gradient(300deg, #0B2447, #0A2647, #443C68);
  background-size: 180% 180%;

  color: white;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.font-type {
  font-family: 'Courier New', Courier, monospace;
}

.bg {
  background: url('./images/bg.jpg');
  background: cover;
}

p {

  font-style: oblique;
  font-family: 'Montserrat', sans-serif;
}

span {
  font-weight: bold;
  color: burlywood;

}


/* New Pages */

.top-margin {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}



.transbox {

  background-color: rgba(6, 6, 6, 0.6);
  /* 50% opacity black background */
  color: #ffffff;
  /* White text color */
}




/* New Page Style */