{% extends './base.html' %}
{% load static %}

{% block content %}
  <!-- ======= Header ======= -->
  <header id="header">
    <main>
      <div class="container col-xxl-8 px-4 py-5 text-secondary" data-bs-theme="dark">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://cdn.pixabay.com/photo/2019/10/09/07/28/development-4536630_1280.png"
              class="d-block mx-lg-auto img-fluid" alt="pic" width="350" height="400" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" style="font-family: 'Dancing Script', cursive;">
              Hey ! I am <span>Avinash Prasad</span> </h1>
            <p class="lead">I'm a passionate Web Developer with the skills of HTML, CSS, JavaScript, <span
                class="span-font">Python, Django</span> and more from India and love to code and create dynamic
              websites....</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">

              <a href=" {% url 'resume' %} " class="btn btn-outline-warning btn-lg px-4" fdprocessedid="mlfip7">Checkout
                More about me</a>
            </div>
          </div>
        </div>
      </div>


    </main>
  </header><!-- End Header -->


{% endblock %}













 